#define SECRET_WIFI_SSID "<your ssid>"          // use 2.4GHz access point
#define SECRET_WIFI_PASS "<your passphrase>"
#define SECRET_MQTT_BROKER "192.168.1.2"
#define SECRET_MQTT_PORT 1883
#define SECRET_MQTT_TOPIC "some/topic"
